VirtualLibraryAppX/Web References/MissingBooksService/missingbooks.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetMissingBooks">
        <s:complexType />
      </s:element>
      <s:element name="GetMissingBooksResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMissingBooksResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetMissingBooksSoapIn">
    <wsdl:part name="parameters" element="tns:GetMissingBooks" />
  </wsdl:message>
  <wsdl:message name="GetMissingBooksSoapOut">
    <wsdl:part name="parameters" element="tns:GetMissingBooksResponse" />
  </wsdl:message>
  <wsdl:portType name="MissingBooksSoap">
    <wsdl:operation name="GetMissingBooks">
      <wsdl:input message="tns:GetMissingBooksSoapIn" />
      <wsdl:output message="tns:GetMissingBooksSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MissingBooksSoap" type="tns:MissingBooksSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetMissingBooks">
      <soap:operation soapAction="http://tempuri.org/GetMissingBooks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MissingBooksSoap12" type="tns:MissingBooksSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetMissingBooks">
      <soap12:operation soapAction="http://tempuri.org/GetMissingBooks" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MissingBooks">
    <wsdl:port name="MissingBooksSoap" binding="tns:MissingBooksSoap">
      <soap:address location="http://virtuallibrary.somee.com/missingbooks.asmx" />
    </wsdl:port>
    <wsdl:port name="MissingBooksSoap12" binding="tns:MissingBooksSoap12">
      <soap12:address location="http://virtuallibrary.somee.com/missingbooks.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>